
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOPPING WEBSITE|ANIKET</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="./css/style.css">
       <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="index.js"></script> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<style>

.mnavbar{
    display: none;
}

.products{
  list-style: none;
  margin-left: 0px;
  padding: 0px;
  padding-top: 80px;
  display: flex;
    flex-direction: column;
    height: auto;
    color: black;
    margin-bottom: 50px;
}
.main{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
  height: 70px;
  margin-bottom: 10px;
  color: black;
}
.each{
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  height: 60px;
  padding-top: 16px;

}
.each p{
  width: 30%;
  padding-left: 5%;
}

.deleteBut{
  width: 120px;
  height: 40px;
  margin-top: -10px;
  background-color: white;
  color: black;
  border: 2px solid red;
  font-weight: 600;
}
.deleteBut:hover{
  background-color: red;
  color: black;
}


.viewBut{
  width: 120px;
  height: 40px;
  margin-top: -10px;
  background-color: white;
  color: black;
  border: 2px solid #051d42
;
  font-weight: 600;
}
.viewBut:hover{
  background-color: #051d42
;
  color: white;
}


.each p{
  font-weight: 600;
  color: black;
  margin: 0px;
}

@media screen and (max-width: 800px){


nav{
    display: none;
}

.mnavbar{
    display: block;
}

}



</style>

</head>




<body>


<section class="mnavbar">
    
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="/" onclick="closeNav()">Home</a>
    <a href="/about" onclick="closeNav()">About</a>
    <a href="/contact" onclick="closeNav()">Contact</a>
    <a href="/dashboard" onclick="closeNav()">Dashboard</a>

            <% if(user == ''){ %>
            <a href="/login"><button class="inb">LOGIN</button></a>
            <%} else {%>
              <p style="color: white; margin-top: 0px;margin-bottom: -15px;font-size: 20px; font-weight: 500;">Hi,<%= user %></p><a href="/logout"><button class="inb">LOGOUT</button></a>
              <%}%>
            
  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span onclick="openNav()" style="cursor: pointer;"><i id="ham" class="ham fa fa-bars" aria-hidden="true" style="font-size: 40px; margin: 15px; margin-top: 10px; color: rgba(0,0,0, 0.9); position: fixed;"></i></span>
</section>



    <nav>
        <div class="logo"><h4>LOGO</h4></div>
        <ul style="margin-bottom: 0px;">
            <a href="/" style="text-decoration: none;"><li>Home</li></a>
            <a href="/about" style="text-decoration: none;"><li>About</li></a>
            <a href="/contact" style="text-decoration: none;"><li>Contact</li></a>
            <a href="/dashboard" style="text-decoration: none;"><li>Dashboard</li></a>
        </ul>
        <div class="login">
           <% if(user == ''){ %>
            <a href="/login"><button>LOGIN</button></a>
            <%} else {%>
              <a href="/userprofile" style="text-decoration: none;width: 120px;"><p style="color: white; margin-top: 13px;font-size: 20px; font-weight: 500; margin-right: 15px;">Hi,<%= user %></p></a><a href="/logout"><button>LOGOUT</button></a>
              <%}%>
            
        </div>
    </nav>


  <div class="err" style="width: 70%;margin-left: 15%; margin-top: 30px; text-align: center;">
<% if(messages.error || messages.info) { %>

<% if(messages.error) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong><%= messages.error %> </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% if(messages.info) {%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%= messages.info %> </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>


<% } %>
</div>


    <ul class="products">
      <a href=""  class="main" style="text-decoration: none;">
        <li class="each">
        <h5 style="width: 30%; padding-left: 5%;">category Id</h5>
        <h5 style="width: 30%;padding-left: 5%;">Category Name</h5>
        <h5 style="width: 30%;padding-left: 5%;">Action</h5>
      </li></a>

      <% categories.forEach(function(category){ %>


        <li style="width: 80% ;margin-left:10%; margin-right: 10%; margin-bottom: 10px;   border: 2px solid black; height: 70px; display: flex; justify-content: space-around; padding-top: 20px; border-radius: 10px;">
          <p style="width: 30%; padding-left: 5%; font-weight: 600;"><%= category._id%></p>
          <p style="width: 30%;padding-left: 10%;font-weight: 600;"><%= category.category%></p>
          <p style="width: 30%;padding-left: 5%;font-weight: 600;">
            <a href="/deletecategory/<%= category._id %>"><button class="deleteBut"><i style="margin-right: 3px;" class="fa fa-trash" aria-hidden="true"></i>Delete</button></a>
          </p>
        </li>
   
   <% }) %>   
    </ul>


  </body>


<script>
/* Open when someone clicks on the span element */
function openNav() {
  document.getElementById("myNav").style.width = "100%";
  document.getElementById("ham").style.visibility = 'hidden';
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
  document.getElementById("ham").style.visibility = 'visible';
}
</script>

  </html>