<!-- views/head.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOPPING WEBSITE|ANIKET</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="../css/style.css">
       <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="index.js"></script> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<style>

.mnavbar{
    display: none;
}


@media screen and (max-width: 800px){


nav{
    display: none;
}

.mnavbar{
    display: block;
}

}



</style>

</head>




<body>


<section class="mnavbar">
    
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="/" onclick="closeNav()">Home</a>
    <a href="/about" onclick="closeNav()">About</a>
    <a href="/contact" onclick="closeNav()">Contact</a>
    <a href="/orders" onclick="closeNav()">My Orders</a>

            <% if(user == ''){ %>
            <a href="/login"><button class="inb">LOGIN</button></a>
            <%} else {%>
              <p style="color: white; margin-top: 0px;margin-bottom: -15px;font-size: 20px; font-weight: 500;">Hi,<%= user %></p><a href="/logout"><button class="inb">LOGOUT</button></a>
              <%}%>
            
  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span onclick="openNav()" style="cursor: pointer;"><i id="ham" class="ham fa fa-bars" aria-hidden="true" style="font-size: 40px; margin: 15px; margin-top: 10px; color: rgba(0,0,0, 0.9); position: fixed;"></i></span>
</section>



    <nav>
        <div class="logo"><h4>LOGO</h4></div>
        <ul style="margin-bottom: 0px;">
            <a href="/" style="text-decoration: none;"><li>Home</li></a>
            <a href="/about" style="text-decoration: none;"><li>About</li></a>
            <a href="/contact" style="text-decoration: none;"><li>Contact</li></a>
            <a href="/orders" style="text-decoration: none;"><li>My Orders</li></a>

        </ul>
        <div class="login">
           <% if(user == ''){ %>
            <a href="/login"><button>LOGIN</button></a>
            <%} else {%>
              <a href="/userprofile" style="text-decoration: none;width: 120px;"><p style="color: white; margin-top: 13px;font-size: 20px; font-weight: 500; margin-right: 15px;">Hi,<%= user %></p></a><a href="/logout"><button>LOGOUT</button></a>
              <%}%>
            
            <a href="/cart" class="cart"><h5><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</h5><div class="countout"><h6 class="count" style="margin-bottom: 3px;"><%= cartcount %></h6></div></a>
        </div>
    </nav>
    
<!-- <div class="err" style="">
<% if(messages.info != ''){%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%= messages.info %> </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
</div>
 -->

 <div class="mobilecart">
  <a href="/cart" class="cart" style="color: black;"><h5 style="float: left;font-size: 25px;"><i style="font-size: 35px;" class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</h5><div class="countout" style="width: 22px;height: 22px; border: 2px solid black;border-radius: 50%; text-align: center; font-weight: 600;"><%= cartcount %></div></a>
</div>

<div class="products" style="padding-top: 75px;">
<div class="category">
  <h4 style="text-align: center;margin-top: 10px;">Category</h4>
  <ul class="u" style="height: 60px;">
   
    <li style="height: 30px;"><a style="text-decoration: none;" href="/find/<%= category %>"><%= category %></a></li>
  </ul>
</div>


<select class="sel" name="category" style="margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid;">
  <option name="category"><%= category %></option>
</select>  



  <div class="outer">
    <% if(products == ''){ %>

    <h3 style="text-align: center;">No products for this category yet!!</h3>
    <h5 style="text-align: center;">We will be adding products soon....</h5>

    <%} else{%>
  <% products.forEach(function(product){ %>
  <div class="prod"><a style="text-decoration: none;color: black;" href="product/<%=product.id %>">
    <img src="../uploads/<%= product.image1 %>" alt="image1" width="270px" height="270px">

    <h3><%= product.title %></h3>
    <div class="inner">
    <label style="float: left;">Category:</label><h5><%= product.category %></h5>
    </div>
    <div class="inner">
    <label style="float: left;">Price:</label><h5 style=""><i class="fa fa-inr"  aria-hidden="true"></i><%= product.price %></h5></div>
    <% if(user == ''){ %>
    <a href=""><button disabled><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</button></a>
    <p style="font-size: 10px;">login to add product to cart</p>
    <% }else{ %>
    <a href="/add-cart/<%= product._id %>"><button ><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</button></a>
    <% } %>
  </a>
    </div>
<% });%>

<% } %>
</div>
   
</div>

</body>

<script>


/* Open when someone clicks on the span element */
function openNav() {
  document.getElementById("myNav").style.width = "100%";
  document.getElementById("ham").style.visibility = 'hidden';
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
  document.getElementById("ham").style.visibility = 'visible';
}

</script>

</html>