<!-- views/head.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOPPING WEBSITE|ANIKET</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="./css/style.css">
       <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="index.js"></script> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<style>

.mnavbar{
    display: none;
}

table{
	border-collapse: separate;
  border-spacing: 45px 0; display: flex;justify-content: center;
}

@media screen and (max-width: 800px){


nav{
    display: none;
}

.mnavbar{
    display: block;
}

table{
	  border-spacing: 0px 0;
	  padding-left: 10px;
	  padding-right: 10px;
}

}

input{
	width: 100%;
	border:2px solid #9ea0a3;
	height: 35px;font-size: 15px;
    font-weight: 500;
}

button{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 110px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
}

button:hover{

	background-color: black;
	color: white;
}

</style>

</head>




<body>


<section class="mnavbar">
    
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="/" onclick="closeNav()">Home</a>
    <a href="#" onclick="closeNav()">Home</a>
    <a href="#" onclick="closeNav()">Home</a>
    <a href="#" onclick="closeNav()">Home</a>

            <% if(user == ''){ %>
            <a href="/login"><button class="inb">LOGIN</button></a>
            <%} else {%>
              <p style="color: white; margin-top: 0px;margin-bottom: -15px;font-size: 20px; font-weight: 500;">Hi,<%= user %></p><a href="/logout"><button class="inb">LOGOUT</button></a>
              <%}%>
            
  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span onclick="openNav()" style="cursor: pointer;"><i id="ham" class="ham fa fa-bars" aria-hidden="true" style="font-size: 40px; margin: 15px; margin-top: 10px; color: rgba(0,0,0, 0.9); position: fixed;"></i></span>
</section>



    <nav>
        <div class="logo"><h4>LOGO</h4></div>
        <ul style="margin-bottom: 0px;">
            <a href="/" style="text-decoration: none;"><li>Home</li></a>
            <a href="" style="text-decoration: none;"><li>Home</li></a>
            <a href="" style="text-decoration: none;"><li>Home</li></a>
            <a href="" style="text-decoration: none;"><li>Home</li></a>
            <a href="" style="text-decoration: none;"><li>Home</li></a>
        </ul>
        <div class="login">
           <% if(user == ''){ %>
            <a href="/login"><button>LOGIN</button></a>
            <%} else {%>
              <a href="/userprofile" style="text-decoration: none;width: 95px;"><p style="color: white; margin-top: 13px;font-size: 20px; font-weight: 500; margin-right: 15px;">Hi,<%= user %></p></a><a href="/logout"><button>LOGOUT</button></a>
              <%}%>
            
            
        </div>
    </nav>



<div class="userprofile" style="padding-top: 50px;">
<h2 style="text-align: center; font-size: 22px; color:#545557;margin-bottom: 20px;">Hi,<%=user %>.. You can update your profile here!</h2>
	


	<div class="userimage"></div>

	<div class="info">
		
		<form action="/userprofile" method="POST">
		<table class="table table-borderless" style="">
			<tr>
			<th style="padding-bottom: 0px;">First Name</th>
			<th style="padding-bottom: 0px;">Last Name</th>
		</tr>
		<tr>
			<th style="padding-top: 0px;"><input type="text" name="firstname" value="<%= complete.firstname%>" required></th>
			<th style="padding-top: 0px;"><input type="text" name="lastname" value="<%= complete.lastname%>" required></th>
		</tr>
		<tr>
			<th style="padding-bottom: 0px;">Email</th>
			<th style="padding-bottom: 0px;">Phone no</th>
		</tr>
		<tr>
			<th style="padding-top: 0px;"><input type="email" name="email" value="<%= complete.email%>" required></th>
			<th style="padding-top: 0px;"><input type="tel" pattern="^[789][0-9]{9}" name="mobile" required value="<%= complete.mobile%>" oninvalid="this.setCustomValidity('Please Enter mobile number in proper format!!')"
 oninput="setCustomValidity('')" required/></th>
		</tr>

		<tr>
			<th style="padding-bottom: 0px;">Address Line1</th>
			<th style="padding-bottom: 0px;">Address Line2</th>
		</tr>
		<tr>
			<th style="padding-top: 0px;"><input type="text" name="address1" value="<%= complete.address1%>" required></th>
			<th style="padding-top: 0px;"><input type="text" name="address2" value="<%= complete.address2%>" required></th>
		</tr>

		<tr>
			<th style="padding-bottom: 0px;">District</th>
			<th style="padding-bottom: 0px;">State</th>
			
		</tr>
		<tr>
			<th style="padding-top: 0px;"><input type="text" name="district" value="<%= complete.district%>" required></th>
			<th style="padding-top: 0px;"><input type="text" name="state" value="<%= complete.state%>" required></th>
			

		</tr>
		<tr><th style="padding-bottom: 0px;">Pincode</th></tr>
		<tr><th style="padding-top: 0px;"><input type="text" value="<%= complete.pincode%>" name="pincode" pattern="[0-9]{6}" oninvalid="this.setCustomValidity('Pincode should be of 6 digits!!')"
 oninput="setCustomValidity('')" required/></th></tr>

		</table>


<button style="display: flex;
    justify-content: center;" type="submit" class="sub" id="myb" ><i style="font-size: 25px; margin-top: 0px;
    margin-right: 3px;" class="fa fa-check-circle-o" aria-hidden="true"></i>Update</button>

		</form>
	</div>

</div>




</body>

<script>


/* Open when someone clicks on the span element */
function openNav() {
  document.getElementById("myNav").style.width = "100%";
  document.getElementById("ham").style.visibility = 'hidden';
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
  document.getElementById("ham").style.visibility = 'visible';
}

</script>

</html>